src/main/resources/inventory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Clothes" type="ClothesType"/>
  <xs:complexType name="ClothesType">
    <xs:sequence>
      <xs:element name="name" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Chess Board T-Shirts"/>
            <xs:enumeration value="Autographed T-Shirt"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="price" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="$10.98"/>
            <xs:enumeration value="$34.89"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="description" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Available in large, medium, and small sizes"/>
            <xs:enumeration value="Autographed by the 2021 World Champion Magnus Carlsen"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="ClothesType" name="Clothes" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
</xs:schema>